body{
	width: 100%;
	height: 100%;
	color: white;
	font-family: sans-serif;
	background: rgba(1,1,1,0.8);
	margin: auto; 
}

header{
	width: 98%;
	min-height: 10%;
	background: rgb(83,115,153);
	padding: 0px 0px 5px 15px;
	margin: auto;
}
header h1{
	padding: 20px 0px 0px 15px;
}

header a{
	position: relative;
	float:right;
	margin-right: 100px;
	min-width: 80px;
	border: 1px solid white;
	border-radius: 5px 5px 5px 5px;
	padding: 15px 15px 15px 15px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

header a:hover{
	box-shadow: 0 0 10px rgba(0,0,0, .5);
	background: rgb(90,120,153);
}

#main{
	width: 98.8%;
	min-height: calc(90vh - 110px);
	margin: 10px 10px;
	float: left;
	/*background: red;*/
}

#leftblok{
	float: left;
	min-width: 16%;
	/*min-height: calc(90vh - 110px);*/
	/*background: rgb(169,185,204);*/
	text-decoration: none;
}
#leftblok li{
	list-style-type:none;
}
#leftblok a{
	display:block;
	background-color:rgba(255,255,255,0.1);
	border-left: 1px solid white;
	border-radius: 5px 5px 5px 5px;
	padding: 10px 15px 0px 10px;
	margin: 15px 10px 0px 0px;
	width: 140px;
	height: 28px;
	float: left;
	color: white;
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: sans-serif;
}
#leftblok a:hover{
	box-shadow: 0 0 10px rgba(0,0,0, .5);
	background: rgb(90,120,153);
}

#content{
	background: rgb(245,245,245);
	float: left;
	min-width: 60.4%;
	height: calc(90vh - 110px);
	margin: 0px 10px 10px 0px;
	font-family: sans-serif;
	color:black;
}

#rightblok{
	float: left;
	min-width: 22.4%;
	min-height: calc(90.5vh - 110px);
	padding-top: 5px;
	margin: 0px 0px 0px 0px;	
	font-family: sans-serif;
	/*background: rgb(169,185,204);*/
}

#rightblok form{
	margin: 10px auto;
}
#rightblok form p{
	margin: 0px 0px 0px 15px;
}

footer{
	width: 100%;
	min-height: 2%;
	clear: both;
	/*margin: auto;*/
	padding: 10px 0px 10px 0px;
	background: rgb(83,115,153);
	text-align: center;
	font-weight: lighter;
}

.user{
	margin-right: 2px;
}
.exit{
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 20px;
	border: 1px solid rgb(83,115,153);
	font-weight: normal;
}

#login{
	width: 380px;
	min-height: 410px;
	margin: 10px auto;
	padding: 20px 30px 30px 30px;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	color: rgba(0,0,0,0.7);
	background: rgb(239,239,247);
}
#login input{
	width: 350px;
	height: 15px;
	margin: 6px 0px 15px 0px;
	padding: 15px;
	font-size: 16px;
}

#login p{
	color: rgba(0,0,0,0.7);
	font-size: 12px;
}

.button{
	width: 80px;
	min-height: 50px;
	border: none;
	background: #488df5;
	box-shadow: 0 0 10px rgba(0,0,0, .5), inset 0 0 10px rgba(0,0,0, .5);
	cursor: pointer;
	color: white;
	font-size: 16px;
 }
.button:hover {
	box-shadow:  inset 0 0 10px rgba(0,0,0, .5);
}

form p{
	margin: 0px 15px;
}
 
#create_account{
	text-align:center;
}

#create_account a {
	margin: auto;
	width: 340px;
	height: 40px;
	display:block;
	padding: 18px 0px 0px 0px;	
	color: white;
	text-decoration:none;
	text-align:center;
	font-size:16px;
	letter-spacing: 2px;
	font-weight: lighter;
	background: rgb(107,166, 74);
	box-shadow: 0 0 10px rgba(0,0,0, .5), inset 0 0 10px rgba(0,0,0, .5);
	color:white;
}
  
#create_account a:hover {
	box-shadow:  inset 0 0 10px rgba(0,0,0, .5);
}

#label_create_account{
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
	color:black;
}

#label_chat{
	padding-left: 23px;
	font-size: 18px;
	color:white;
}
#list_messages{
	float: left;
	min-width: 22.4%;
	height: calc(67vh - 110px);
	padding-bottom: 10px;
	margin: 0px 0px 0px 15px;	
	/*background: rgb(169,185,2);*/
	overflow-y: auto;
}

#chat_massage{
	width: 270px;
	margin: 10px auto;
	padding: 1px 0px 1px 0px;
	text-align: left; 
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	background: rgb(239,239,247);

}
#chat_massage ul{
	list-style-type: none;
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
}
#chat_massage li{
	clear: both;
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left;
}
#chat_username{
	float:left;
	min-width: 100px;
	padding-left: 5px;
	font-weight: bold;
}
#chat_time{
	position: relative;
	float: right;
	font-size: 12px;
	font-weight: normal;
	color: grey;
}

#write_message{
	margin: 10px auto;
	text-align: center;
}
#write_message p{
	margin: 0px 0px 0px 16px;
	text-align: left;
}
.write_field{
	width: 265px;
	min-height: 20px;
}
.button_send{
	width: 80px;
	min-height: 30px;
	border: none;
	background: #488df5;
	box-shadow: 0 0 10px rgba(0,0,0, .5), inset 0 0 10px rgba(0,0,0, .5);
	cursor: pointer;
	color: white;
	font-size: 14px;
 }
.button_send:hover {
	box-shadow:  inset 0 0 10px rgba(0,0,0, .3);
}

#content_header{
	width: 100%;
	/*min-height: 15%;*/
	min-height: calc(11.5vh - 10px);
	background: #DAE1E8;
}
#label_content{
	float: left;
	width: 200px;
	margin: 20px 0px 0px 90px;
	font-weight: bold;
	font-size: 25px;
	color: #2B587A;
}

#my_balance{
	position: relative;
	float:right;
	width: 145px;
	margin: 25px 50px 0px 0px;	
}
#amount{
	float: right;
	font-weight: bold;
	color:rgb(209,72,54);
}

#content_main{
	clear: both;
	margin-top: -10px;
	padding: 0px 10px 10px 10px;
}
#transaction{
	width:500px;
	min-height:50px;
	margin: 10px auto;
	padding: 10px 20px 20px 20px;
	background:red;
}
#lable_transaction{
	min-height: calc(5vh - px);
	background: #DAE1E8;
	margin-bottom:10px;
	text-align: center;
	font-size:19px;
	color: #2B587A;
}
